<a href="https://colab.research.google.com/github/RyanTahnikoyev/windows-97-robidatathon/blob/main/General_Pipeline(pre_EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# loading packages

import os

import pandas as pd
import numpy as np

# plotting packages
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as clrs
import seaborn as sns
import plotly
import plotly.graph_objs as go
import plotly.express as px

train_data = pd.read_csv("/content/drive/MyDrive/robi-datathon-2-pre-assessment/train.csv")
# check the raw data
print("Size of the train dataset (train_data, col): ", train_data.shape)

test_data = pd.read_csv("/content/drive/MyDrive/robi-datathon-2-pre-assessment/test.csv")
# check the raw data
print("Size of the test dataset (test_data, col): ", test_data.shape)

Size of the train dataset (train_data, col):  (28322, 36)
Size of the test dataset (test_data, col):  (85065, 35)

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s54     2628 non-null   object
 12  s55     3206 non-null   object
 13  s56     0 non-null      float64
 14  s57     0 non-null      float64
 15  s58     28322 non-null  object
 16  s59     0 non-null      float64
 17  s69     28322 non-null  object
 18  s70     28322 non-null  object
 19  s71     28322 non-null  object
 20  n1      28322 non-null  float64
 21  n2      28322 non-null  float64
 22  n3      28322 non-null  int64
 23  n4      28322 non-null  float64
 24  n5      28322 non-null  float64
 25  n6      28322 non-null  float64
 26  n7      28322 non-null  float64
 27  n8      28322 non-null  float64
 28  n9      28322 non-null  float64
 29  n10     28322 non-null  float64
 30  n11     28322 non-null  float64
 31  n12     28322 non-null  int64
 32  n13     28322 non-null  int64
 33  n14     28322 non-null  float64
 34  n15     28322 non-null  int64
 35  label   28322 non-null  int64
dtypes: float64(14), int64(7), object(15)
memory usage: 7.8+ MB

In [ ]:
train_data.describe()

,s13,s48,s56,s57,s59,n1,n2,n3,n4,n5,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
count,28322.000000,28322.000000,0.0,0.0,0.0,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,...,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000
mean,0.983123,0.433338,NaN,NaN,NaN,10.201863,1.600111,4.805099,5.080537,-32.641183,...,-9.107429,1.612428,5.232644,6.115109,1.699553,0.009992,0.089506,0.497570,2.997740,0.168067
std,0.128814,0.495545,NaN,NaN,NaN,4.414660,0.664985,2.199282,2.276162,0.241453,...,0.205200,0.173560,2.179705,2.474138,0.115150,0.099462,0.285478,0.289207,2.007611,0.373933
min,0.000000,0.000000,NaN,NaN,NaN,2.200736,0.311727,0.000000,1.700370,-33.167589,...,-9.517986,1.178469,2.508858,1.173465,1.500006,0.000000,0.000000,0.000101,0.000000,0.000000
25%,1.000000,0.000000,NaN,NaN,NaN,6.592127,1.013540,3.000000,2.833161,-32.862207,...,-9.258473,1.489924,3.464229,4.414671,1.600056,0.000000,0.000000,0.247801,1.000000,0.000000
50%,1.000000,0.000000,NaN,NaN,NaN,9.535961,1.462197,5.000000,4.840320,-32.577026,...,-9.174557,1.537263,4.461770,5.317154,1.698556,0.000000,0.000000,0.495255,3.000000,0.000000
75%,1.000000,1.000000,NaN,NaN,NaN,14.432580,2.194510,6.000000,7.300738,-32.396733,...,-8.964786,1.730249,6.524341,7.027610,1.799238,0.000000,0.000000,0.748786,5.000000,0.000000
max,1.000000,1.000000,NaN,NaN,NaN,20.882733,3.137331,9.000000,8.594620,-32.289180,...,-8.586583,2.173593,11.214870,12.029135,1.899995,1.000000,1.000000,0.999990,6.000000,1.000000

In [ ]:
train_data.label.value_counts()

0    23562
1     4760
Name: label, dtype: int64

# Data Cleaning

In [ ]:
int("1")

1

In [ ]:
## Fixing Misspelled Columns
print(train_data["s52"].value_counts())
print(test_data["s52"].value_counts())
train_data[train_data["s52"]=="o"]=int("0")
train_data[train_data["s52"]=="l"]=int("1")
test_data[test_data["s52"]=="o"]=int("0")
test_data[test_data["s52"]=="l"]=int("1")

print(train_data["s52"].value_counts())

1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64
1    45569
l    36056
0     2811
o      629
Name: s52, dtype: int64
1    20524
1     6508
0     1094
0      196
Name: s52, dtype: int64

In [ ]:
train_data = train_data.drop(['s56','s57','s59'], axis=1)
train_data.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.63122,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.80426,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
train_data.columns

Index(['id', 'gender', 's11', 's12', 's13', 's16', 's17', 's18', 's48', 's52',
       's53', 's54', 's55', 's58', 's69', 's70', 's71', 'n1', 'n2', 'n3', 'n4',
       'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15',
       'label'],
      dtype='object')

# Train-Test Split

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Remove rows with missing target, separate target from predictors
# train_data.dropna(axis=0, subset=['label'], inplace=True)
y = train_data.label
train_data.drop(['label'], axis=1, inplace=True)

# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(train_data, y, 
                                                                train_size=0.8, test_size=0.2,
                                                                random_state=0)

# Selecting Categorical and Numerical Columns

In [ ]:
X_train_full.columns

Index(['id', 'gender', 's11', 's12', 's13', 's16', 's17', 's18', 's48', 's52',
       's53', 's54', 's55', 's58', 's69', 's70', 's71', 'n1', 'n2', 'n3', 'n4',
       'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15'],
      dtype='object')

In [ ]:
# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
categorical_cols = [cname for cname in X_train_full.columns if
                    X_train_full[cname].nunique() < 10 and 
                    X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if 
                X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = test_data[my_cols].copy()

In [ ]:
categorical_cols

['gender',
 's11',
 's12',
 's13',
 's16',
 's17',
 's18',
 's48',
 's52',
 's53',
 's58',
 's69',
 's70',
 's71',
 'n12',
 'n13',
 'n15']

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

# Make copy to avoid changing original data 


# Apply ordinal encoder to each column with categorical data
ordinal_encoder = OrdinalEncoder()
X_train[categorical_cols] = ordinal_encoder.fit_transform(X_train[categorical_cols])
X_valid[categorical_cols] = ordinal_encoder.transform(X_valid[categorical_cols])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ordinal_encoder = OneHotEncoder()
X_train[categorical_cols] = ordinal_encoder.fit_transform(X_train[categorical_cols])
X_valid[categorical_cols] = ordinal_encoder.transform(X_valid[categorical_cols])

In [ ]:
X_train[categorical_cols]

       gender  s11  s12  s16  s17  s18  s58  s70  s71
20051     2.0  3.0  3.0  4.0  5.0  3.0  3.0  5.0  3.0
23827     3.0  2.0  3.0  3.0  5.0  3.0  3.0  5.0  3.0
8952      3.0  3.0  3.0  5.0  5.0  3.0  3.0  5.0  3.0
12419     3.0  2.0  3.0  3.0  4.0  3.0  2.0  4.0  3.0
28317     3.0  3.0  3.0  5.0  5.0  3.0  3.0  5.0  3.0
...       ...  ...  ...  ...  ...  ...  ...  ...  ...
13123     2.0  3.0  2.0  5.0  5.0  3.0  2.0  5.0  3.0
19648     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
9845      2.0  3.0  3.0  5.0  5.0  3.0  3.0  5.0  3.0
10799     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2732      3.0  3.0  3.0  5.0  5.0  3.0  3.0  5.0  3.0

[22657 rows x 9 columns]

# Pipeline; with Categorical Transformers & Numerical Transformers

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

categorical_cols = ['gender', 's11', 's12', 's16', 's17', 's18', 's58', 's70','s71']
# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    # ('onehot', OneHotEncoder(handle_unknown='ignore')),
    ('ordinal', OrdinalEncoder())
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Define model

xgb_params = {
        'objective': 'binary:logistic',
        'booster': 'gbtree',
        'learning_rate': 0.02,
        'max_depth': 22,
        'min_child_weight': 57,
        'gamma' : 1.45,
        'alpha': 0.0,
        'lambda': 0.0,
        'subsample': 0.67,
        'colsample_bytree': 0.054,
        'colsample_bylevel': 0.50,
        'n_jobs': -1,
        'random_state': 456,
        'importance_type': 'total_gain'
    }

# classifier = RandomForestClassifier(n_estimators = 100, random_state = 0)
classifier = XGBClassifier(**xgb_params, n_estimators=1000,tree_method='gpu_hist')

# Bundle preprocessing and modeling code in a pipeline
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', classifier)
                     ])

# Preprocessing of training data, fit model 
clf.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = clf.predict(X_valid)

In [ ]:
accuracy_score(preds, y_valid)

0.8780229479258606

In [ ]:
numerical_cols

[]

In [ ]:
|from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error,r2_score

# Defining the preprocessing for the numeric features
numerical_transformer = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())])

# Defining the preprocessing for the categorical features
categorical_transfromer = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

# Bundling the numeric and categoircal transformers into the PREPROCESSOR
preprocessor = ColumnTransformer(transformers=[
    ('num', numerical_transformer, numerical_cols),
    ('cat', categorical_transformer, categorical_cols)])

# HYPERPARAMETER TUNING
# Try these hyperparameter values
params = {
#  'learning_rate': [0.1, 0.5, 1.0],
 'n_estimators' : [10,50, 100, 150,500],
    'random_state' :[42,32,56,34]
 }

# Find the best hyperparameter combination to optimize the R2 metric
# score = make_scorer(r2_score)
# gridsearch = GridSearchCV(alg, params, scoring=score, cv=3, return_train_score=True)
# gridsearch.fit(X_train, y_train)
# print("Best parameter combination:", gridsearch.best_params_, "\n")

# Get the best model
# model=gridsearch.best_estimator_
# print(model, "\n")


# Bundling the preprocessor and the estimator into the pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', classifier)])

pipeline.fit(X_train,y_train)


# predictions = pipeline.predict(X_test)

TypeError: ignored

## Hyperparameter Library

In [ ]:
xgb_params = {
        'objective': 'reg:linear',
        'booster': 'gbtree',
        'learning_rate': 0.02,
        'max_depth': 22,
        'min_child_weight': 57,
        'gamma' : 1.45,
        'alpha': 0.0,
        'lambda': 0.0,
        'subsample': 0.67,
        'colsample_bytree': 0.054,
        'colsample_bylevel': 0.50,
        'n_jobs': -1,
        'random_state': 456,
        'importance_type': 'total_gain'
    }

# Training Logs

1. classifier = RandomForestClassifier(n_estimators = 50, random_state = 42) -> 0.880847308031774
2. classifier = RandomForestClassifier(n_estimators = 100, random_state = 0) -> 0.8790820829655781
3. classifier = XGBClassifier(n_estimators=1000,tree_method='gpu_hist') -> 0.8771403353927626
4. classifier = XGBClassifier(**xgb_params, n_estimators=1000,tree_method='gpu_hist')

# Test Data Submission

In [ ]:
# Save test predictions to file
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)

Preprocessing & Feature Engineering Functions

In [ ]:
def preprocessing(train_data):
    
    train_data[train_data["s52"]=="o"]=int("0")
    train_data[train_data["s52"]=="l"]=int("1")

    train_data = train_data.drop(['s56','s57','s59'], axis=1)
    train_data.head()

    train_data = train_data.reset_index()

    binary_cols= [cname for cname in X_train_full.columns if
              X_train_full[cname].nunique()==2 and cname!=X_train_full.columns[-1]]

    # "Cardinality" means the number of unique values in a column
    # Select categorical columns with relatively low cardinality (convenient but arbitrary)
    categorical_cols = [cname for cname in X_train_full.columns if
                X_train_full[cname].nunique() < 10 and 
                X_train_full[cname].dtype == "object" and cname 
                not in binary_cols]

    # Select numerical columns
    numerical_cols = [cname for cname in X_train_full.columns if 
                X_train_full[cname].dtype in ['int64', 'float64']]

    binary_df= train_data[binary_cols].copy()

    categorical_df=train_data[categorical_cols].copy()

    from sklearn.preprocessing import LabelEncoder
    for i in binary_df:
        le=LabelEncoder()
        binary_df[i]=le.fit_transform(binary_df[i])

    categorical_df=pd.get_dummies(categorical_df)
    numerical_df = train_data[numerical_cols].copy()

    processed_df = pd.concat([binary_df,categorical_df,numerical_df],axis=1)
    return processed_df

In [187]:
train_data = pd.read_csv("/content/drive/MyDrive/robi-datathon-2-pre-assessment/train.csv")
# check the raw data
print("Size of the train dataset (train_data, col): ", train_data.shape)

test_data = pd.read_csv("/content/drive/MyDrive/robi-datathon-2-pre-assessment/test.csv")
# check the raw data
print("Size of the test dataset (test_data, col): ", test_data.shape)

Size of the train dataset (train_data, col):  (28322, 36)
Size of the test dataset (test_data, col):  (85065, 35)

In [189]:
## Fixing Misspelled Columns
print(train_data["s52"].value_counts())
print(test_data["s52"].value_counts())
train_data[train_data["s52"]=="o"]=int("0")
train_data[train_data["s52"]=="l"]=int("1")
test_data[test_data["s52"]=="o"]=int("0")
test_data[test_data["s52"]=="l"]=int("1")

1    20524
1     6508
0     1094
0      196
Name: s52, dtype: int64
1    45569
1    36056
0     2811
0      629
Name: s52, dtype: int64

In [190]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Remove rows with missing target, separate target from predictors
# train_data.dropna(axis=0, subset=['label'], inplace=True)
train_data = train_data.drop(['s56','s57','s59'], axis=1)
train_data.head()

train_data = train_data.reset_index()

In [191]:
X_train_full=train_data.copy(deep=True)

In [192]:
binary_cols= [cname for cname in X_train_full.columns if
              X_train_full[cname].nunique()==2 and cname!=X_train_full.columns[-1]]

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
categorical_cols = [cname for cname in X_train_full.columns if
                    X_train_full[cname].nunique() < 10 and 
                    X_train_full[cname].dtype == "object" and cname 
                    not in binary_cols]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if 
                X_train_full[cname].dtype in ['int64', 'float64']]

binary_df= train_data[binary_cols].copy()

categorical_df=train_data[categorical_cols].copy()

from sklearn.preprocessing import LabelEncoder
for i in binary_df:
    le=LabelEncoder()
    binary_df[i]=le.fit_transform(binary_df[i])

categorical_df=pd.get_dummies(categorical_df)
numerical_df = train_data[numerical_cols].copy()

processed_data = pd.concat([binary_df,categorical_df,numerical_df],axis=1)
# THRESHOLLDDLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLFKJS
#TGDGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
#GGGGGGGGGGGGGGGGGGGGGGGG

In [196]:
# Remove rows with missing target, separate target from predictors
# train_data.dropna(axis=0, subset=['label'], inplace=True)
y = train_data.label

# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(processed_data, y, 
                                                                train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [197]:
classifier = RandomForestClassifier(n_estimators = 100, random_state = 0)
# classifier = XGBClassifier(**xgb_params, n_estimators=1000,tree_method='gpu_hist')


# Preprocessing of training data, fit model 
classifier.fit(X_train_full, y_train)
classifier
# Preprocessing of validation data, get predictions
preds = classifier.predict(X_valid_full)

In [198]:
accuracy_score(preds, y_valid)

1.0

In [200]:
score = classifier.score(preds, y_valid)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored

In [ ]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=10)